*,
*:before,
*:after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
   background-image: url('https://cdn5.vectorstock.com/i/1000x1000/15/54/background-with-analog-stopwatch-vector-6221554.jpg');
}
.Stopwatch{
   background-color: white;
width: 50%;
position: absolute;
transform:translate(-50%,-50%) ;
top: 50%;
left: 50%;
  padding: 20px 0;
  padding-bottom: 50px;
  border-radius:15px ;
  
}
.Stopwatch h1{
   
   padding-left: 35%;
   padding-bottom: 5%;

}
#show{
    position: relative;
    width: 80%;
    background-color:white;
    left: 10%;
    font-family: 'Courier New', Courier, monospace;
    color:red;
    display: flex;
    justify-content: space-around;
  align-items: center;
    font-size:30px;
    margin-bottom: 19px;
    font-weight: bold;
   box-shadow: 0 0 20px darkgray;
}

button{
    position: relative;
    left: 15%;
  width: 80px;
    margin: 10px;
    padding: 10px 20px;
    border: none;
    color: white;
    background-color:dodgerblue;
    font-size: 20px;
    border-radius: 5px;
    cursor: pointer;
}
button:hover{
    background-color: red;
}
button:active{
    background-color: yellowgreen;
}